        * {
            box-sizing: border-box;
            position: relative;
        }
        
        img {
            width: 100%;
            height: auto;
        }
        
        body {
            font-size: 1em;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #D4BF94;
        }
        
        html {
            scroll-behavior: smooth;
        }
        
        .contenedor-logo {
            font-family: 'Cinzel', serif;
            font-size: 25px;
        }
        
        .botones-header {
            display: flex;
        }
        
        .carrito-boton {
            font-size: 15px;
            margin-left: 10px;
            line-height: 20px;
        }
        
        .carrito-boton i {
            font-size: 20px;
            margin-right: 10px;
        }
        
        button {
            border: 0;
            cursor: pointer;
        }
        
        .contenedor-header {
            width: 100%;
            padding: 10px 20px;
            max-width: 1400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'Cinzel', serif;
        }
        
        .principio {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .banner {
            width: 100%;
            min-height: 300px;
            background-image: url(https://i.pinimg.com/564x/c3/be/ae/c3beae89da6831e720e2267177813038.jpg);
            background-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fdffb6;
            font-family: 'Homemade Apple', cursive;
        }
        
        .nombre-seccion {
            font-family: 'Homemade Apple', cursive;
            -webkit-text-stroke: 2px #40916c;
            color: transparent;
        }
        
        img {
            height: 250px;
            width: 250px;
            object-fit: cover;
        }
        
        .product {
            border: #797d62 solid 2px;
            border-radius: 10px 3px;
            margin: 5px;
        }
        
        .rating>span:hover:before {
            content: "\2605";
            position: absolute;
        }
        
        .rating {
            font-size: 35px;
        }
        
        .descripcion-producto {
            text-align: center;
        }
        
        h2 {
            font-size: 25px;
        }
        
        h3 {
            font-size: 18px;
        }
        
        article {
            flex-wrap: wrap;
            text-align: center;
        }
        
        .otracajacontenedora {
            display: flex;
            flex-wrap: wrap;
        }
        
        .primeracajacontenedora {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        
        .filters {
            max-width: 270px;
            font-size: 12px;
            font-weight: 600;
            background-color: aquamarine;
            border: black 2px;
        }
        
        .filters label {
            display: flex;
            align-items: center;
        }
        
        label {
            display: block;
            cursor: pointer;
        }
        
        filters label input {
            margin-right: 10px;
        }
        
        .search-input {
            height: 40px;
            width: 400px;
            line-height: 40px;
            padding: 0 20px;
            border: 0;
            background-color: transparent;
            border-bottom: 2px solid;
        }